<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col-xs-2">
    <ul class="list-group" #tool>
      <li *ngFor="let item of itens" id="{{item.id}}">{{item.name}}</li>
    </ul>
    <div class="checkbox">
      <label><input type="checkbox" id="chkshadow">Apply shadow</label>
    </div>
    <br/>
  </div>
  <button (click)="setModalityLut(true)">LUT</button>
  <button (click)="setVoiLut(true)">Voi</button>
  
   <select (change)="changeEfect($event.target.value)">
          <option *ngFor="let color of listEfects" [value]="color.id">{{color.name}}</option>
        </select> 
  <div class="col-xs-10">
    <div style="width:512px;height:512px;position:relative;display:inline-block;color:white;" >
      <div id="dicomImage" style="width:512px;height:512px;top:0px;left:0px; position:absolute;">
      </div>
    </div>
  </div>
  <div #action>
    <button id="edited-exame">Salvar</button>
  </div>
</div>
